table, th, td {
    text-align: center;
    column-width: 100px;
}

td {
    border: 1px solid;
    border-color: black;
  }

th {
    border: 1px solid;
    border-color: black;
    background-color: lightblue;
  }

table {
    border-style: ridge;
    border-width: 5px;
    border-color: lightblue;
    border-collapse: collapse;
  }
